on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: 22.20.0

      - run: npm install

      - run: npm run build

      - run: npm run lint

      - run: ls -l dist